/.idea
/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions
/dist
/dist-ssr
/logs
/node_modules
/various
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.eslintcache
.pnp.*
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
